---
---

<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row">
  <div
    class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
    <h2 class="font-monospace text-2xl text-black lg:text-4xl">About me</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-black"></span>
  </div>

  <div class="w-full text-justify text-white lg:w-1/2">
    <p class="mb-2">
      I'm a self taught web developer specialising in client side development ,
      as someone who is intrigued about how design meets code in the space of
      software development by utilising a variety of JavaScript libraries and
      frameworks for constructing interactive and responsive user interfaces for
      the end user .
    </p>
  </div>
</section>
