---
import Button from '@components/ui/Button.astro';
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-2 font-monospace text-3xl text-black lg:text-5xl ">
				 Asanda Majola
			</h1>
			<h2 class="text-white typewriter">Front-End / Ionic App Developer .</h2>
		</div>
		<div class="mt-5">
			<a
			href="https://AsandahDevs.github.io/AsandahDevs/AsandahDevs-portfolio/assets/Asanda Majola - Front end developer resume.pdf"
			download
		  >
		  <Button style={'primary'} size={'lg'} class={'flex'} name="learn more">Download Resume</Button>
		</a>
		</div>
	</div>
	
</section>

<style>
h2.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid pink; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:pink; }
}
</style>